{% extends "base.html" %}

{% block content %}
<center>
  <h1 class="title">Hi, I am Nethical</h1>
</center>
<p>A young self taught code hobbyist, knows java, kotlin, python, rust, c , and some webdev, likes android and linux. Has
  a small <a href="https://www.youtube.com/channel/UCngn7SVujlvskHRvRKc1cTw">Youtube channel</a>. I use arch btw.</p>

  <br>
  <center><h2>Note</h2></center>
  <p>
    <ul>
      <li>This website is not ugly. - <a href="http://motherfuckingwebsite.com">It's minimal</a>.</li>
      <li>This website was started on 0-Jun-2022.</li>
      <li>This Place is a home for all my psychological disorders. A place where i can freey express my thoughts and views without any restrictions. </li>
      <li>I use Arch Btw</li>
      </ul>
  </p>
  <center>
    <!-- <div class="tenor-gif-embed" data-postid="17340719" data-share-method="host" data-aspect-ratio="2.96296" data-width="10%"><a href="https://tenor.com/view/join-us-discord-group-join-now-gif-17340719">Join Us Discord GIF</a>from <a href="https://tenor.com/search/join+us-gifs">Join Us GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script> -->
    <!-- <iframe src="https://giphy.com/embed/IoRBXUlynTBL7sy7y8" width="5%" height="5%" data-width="10%" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/ditto-dittobrows-pixel-art-IoRBXUlynTBL7sy7y8"></a></p> -->
    <div class="l">

<table class="GeneratedTable">
  <thead>
    <tr>
      <th>Projects</th>
      <th>Explore</th>
      <th>Tutorials</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://github.com/Nethical-org/Stif">@ Stif</a></td>
      <td><a href="?about">@ About</a></td>
      <td><a href="https://www.youtube.com/watch?v=du85KscpWao&t=18s">@ Max2d #1</a></td>
    </tr>
    <tr>
      <td><a href="https://github.com/RealNethical/Telegram-Bot-Designer">@ TBD</a></td>
      <td><a href="https://www.youtube.com/channel/UC2mznTEX1cEUwkl_qtI33KA">@ Youtube</a></td>
      <td><a href="https://www.youtube.com/watch?v=hzmR6Mt_0vo">@ Chatting App</a></td>
    </tr>
    <tr>
      <td><a href="https://github.com/RealNethical/coLD">@ coLD</a></td>
      <td><a href="?contact">@ Contact</a></td>
      <td><a href="https://www.youtube.com/watch?v=_c2EUBiGfZw">@ Tweak xfce Terminal</a></td>
    </tr>
  </tbody>
</table>
<!-- Codes by Quackit.com -->
</div>

<br><br>



</center>  
{% endblock content %}
