{% extends "base.html" %}

{% block content %}
<center>
  <h1 class="title">Hi, I am Aditya</h1>
  <p>"Everything I love, I love alone"
~ Some American Chad</p>
 <a href="https://spotify-github-profile.vercel.app/api/view?uid=1askbdn9ma7mrn7861pq9f1lb&redirect=true" target="_blank"> 
<br>
 
  <div class="now playing" id="music">
  <span class="bar n1">A</span>
  <span class="bar n2">B</span>
  <span class="bar n3">c</span>
  <span class="bar n4">D</span>
  <span class="bar n5">E</span>
  <span class="bar n6">F</span>
  <span class="bar n7">G</span>
  <span class="bar n8">H</span>
  <br>
  <img src="https://spotify-github-profile.vercel.app/api/view?uid=1askbdn9ma7mrn7861pq9f1lb&cover_image=false&theme=compact&show_offline=false&background_color=000000">



</a>
</center>
{% endblock content %}
